.content {
    position:relative;
}

.kuang {
    display: inline-block;
    min-width: 56px;
    height: 80px;
    /*background-color: rgb(90, 245, 128);*/
    /*box-shadow: 0 0 5px #121212;*/
    margin: 6px 6px 0 0;
    /*padding: 0 6px;*/
    text-align: center;
    font-size: 16px;
    line-height: 1.75;
    border-radius: 2px;
    border: 2px solid rgba(90, 245, 128, 0.1);
    color: #1cddb1;
    position: relative;
    transition: all 0.3s;
}

.theme_color{
    color: #1cddb1;
}

.content a:focus {
    outline: none;
    /*-moz-outline:none;*/
}

.kuang:hover, .kuang:active, .select{
    box-shadow: 4px 4px 7px rgb(90, 245, 128);
    cursor: pointer;
    /* color collocation link*/
    /* http://www.peise.net/2016/0429/5566.html */
    /*border-color: rgba(210, 245, 87, 0.3);*/
    border-color: #1cddb1;
    border-radius: 0;
}

.kuang a {
    color: white;
    background-color: #1cddb1;
    opacity: 0.5;
}

.kuang a:hover, .kuang a:focus {
    opacity: 0.8;
}

.select a {
    opacity: 1;
}

.kuang a span {
    transition: font-size 0.4s;
    height: 100%;
}

.kuang a span:hover {
    text-decoration: underline;
    font-size: 80%;
}

.kuang span {
    display: inline-block;
    width :100px;
    height: 100%;
    line-height: 100%;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    margin-top: 0;
}

.kuang  input {
    height: 24px;
    position: absolute;
    left: 0%;
    top: 0%;
    width: 100%;
    color: black;
    font-size: 80%;
    display: none;
    line-height: 24px;
    text-align: center;
}

.kuang input:hover, .kuang input:focus {
    box-shadow: 0 0 3px gray;
}

.file_type {
    /*background-color: gray;*/
    margin: 1px 0 0 0;
    height: 70%; 
    padding: 0;
}

.file_name {
    position: relative;
    height: 30%;
}

.file_name:hover, .file_name:focus {
    background-color: rgba(217, 217, 217, 0.2);
}

.beFilledWith {
    display: block;
    width: 100%;
    height: 100%;
}

.test {
    outline: 1px dashed red;
}

.template {
    display: none;
}

.pop-up_window {
    background-color: gray;
    width: 100%;
    height: 10em;
}

.red {
    color: red;
}

/* loading css */
.loading {
    width: 100%;
    height: 100%;
    background-color: rgba(128, 128, 128, 0.5);
    position: absolute;
    left: 0;
    top: 0;
    text-align: center;
}

/* Navigation bar styles */
/* 导航条样式 */
.path {
    background-color: #1cddb1;
    color: white;
    display: block;
    /*height: 1.5em;*/
    overflow: hidden;
    /*box-shadow: 0 2px 4px gray ;*/
}

.breadcrumbMine {
    margin: 0;
    padding: 0;
    height: 24px;
}

/* options */
/* 导航选项 */
.breadcrumbMine  li {
    height: 24px;
    line-height: 24px;
    float: left;
    list-style: none;
    transition: 0.4s all;
    position: relative;
}

.breadcrumbMine li:after{
    content: "";
    background-color: white;
    height: 0;
    width: 100%;
    display: inline-block;
    z-index: 1;
    position: absolute;
    left: 0;
    bottom:0;
    transition: all ease 0.4s;
}

.breadcrumbMine li:hover:after {
    height: 100%;
}

.breadcrumbMine li:hover {
    background-color: white;
    color: #1cddb1;
}

.breadcrumbMine a {
    color: white;
    font-size: 14px;
    width: 100%;
    height: 100%;
    display: inline-block;
    position: relative;
    margin-right: 16px;
}

.breadcrumbMine a:after {
    position: absolute;
    content:"\\";
    margin: 0 6px;
}

.breadcrumbMine a:hover {
    text-shadow: 0 1em 0.5em #1cddb1;
    color: #1cddb1;
    transform: scaleY(1.1, 1.1);
    z-index: 2;
}

.breadcrumbMine .current_directory:link {
    text-decoration: none;
    cursor: not-allowed;
}