/* style file for page login.html */
/* 样式文件，用于页面 login.html */
/* auther : Jimmy Wu */

input {
    height: 36px;
    /*outline: 1px solid gray;*/
}

.center {
    text-align: center;    
}

input[type="submit"] {
    outline: none;
    border:none;
}
.disabled {
    background-color: gray;
}

#loading {
    height: 100%;
    width: 100%;
    position: absolute;
}